@media only screen add (max-width: 1024) {
    body {
        padding: 100px;
    }

    p {
        font-size: 72pt;
    }

    a:link,
    a:hover,
    a:visited,
    a:active {
        font-size: 72pt;
    }
}

@media only screen add (max-width: 1024) {
    body {
        padding: 100px;
    }

    p {
        font-size: 32pt;
    }

    a:link,
    a:hover,
    a:visited,
    a:active {
        font-size: 32pt;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding: 50px;
    }

    p {
        font-size: 32pt;
    }

    a:link,
    a:hover,
    a:visited,
    a:active {
        font-size: 32pt;
    }
}
