/* HTML ELEMENTS */
body {
    background-color: #B2D2A4;
    /* #245438 */
    padding: 100px;
}

p {
    font-family: 'Questrial', sans-serif;
    color: #FFFAFA;
    font-size: 72pt;
}

a:link,
a:hover,
a:visited,
a:active {
    font-size: 72pt;
    color: #FFFAFA;
    text-decoration: none;
}

a:hover {
    color: #456e56;
}

div,
img {
    magin: 0 auto;
    position: fixed;
    border: 10px solid #FFFAFA;
}

div {
    display: none;
}

em {
    color: #456e56;
}

/* PERSONAL ELEMENTS */
ion-icon {
  font-size: 72px;
  color: #ffffff;
}

.medium_words {
    font-size: 36px;
}

.small_words {
    font-size: 24px;
}
