/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.jumbotron,body {
    background-color: #000
}

p {
    font: 18px 'IBM Plex Mono',monospace;
    color: #fff;
    text-transform: uppercase
}

#logo {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear
}

#logo-div {
    border-radius: 50%
}

.jumbotron {
    height: 100vh;
    width: 100%
}

.container {
    height: 100%
}

.p-2 {
    margin: 32px;
    padding: 0!important
}
